:root {
  --primary-color: #4b739c;
  --accent-color: #a56cc1;
}

.App {
  font-family: "Ubuntu Mono", monospace;
}

.App .wrapper {
  color: var(--primary-color);
  background: rgb(161, 196, 253);
  background: linear-gradient(
    0deg,
    rgba(161, 196, 253, 0.6283555658591562) 30%,
    rgba(194, 233, 251, 1) 86%
  );
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 750px;
  margin: 30px auto 0;
  text-align: center;
}

@media (max-width: 567px) {
  .App .wrapper {
    margin: 0 auto;
  }
}
