.CurrentWeather h1 {
  font-size: 42px;
  line-height: 1;
  margin: 6px 0 0;
}

.CurrentWeather .weather-icon img {
  position: relative;
  top: -28px;
}

.CurrentWeather ul {
  list-style: none;
  padding: 0;
}

.CurrentWeather ul li {
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

@media (max-width: 576px) {
  .CurrentWeather .weather-data {
    margin: 20px auto !important;
  }
  .CurrentWeather .weather-icon img {
    top: 0;
  }
}
