.CurrentWeather h1 {
  font-size: 50px;
  font-weight: normal;
  line-height: 1;
  margin: 0;  
}

.CurrentWeather ul {
  list-style: none;
  padding: 0;
}

.CurrentWeather .values-icon {
  max-width: 40px;

}

.CurrentWeather .humidity {
  line-height: 2;
}

.CurrentWeather .wind {
  line-height: 1;
  
}

.CurrentWeather img {
  max-width: 150px;
}