.DailyForecast h2, .DailyForecast .description, .DailyForecast p  {
  font-size: 15px;
  font-weight: bold; 
}

.DailyForecast img {
  max-width: 40px;
}

.DailyForecast .min-temp {
  opacity: 0.6;
}
