.Footer {  
  color: var(--primary-color);
  font-size: 12px;
  font-style: italic;
  margin: 0;
}

.Footer a, .Footer a:hover {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;  
}

