.SearchForm .search-btn {
  color: var(--primary-color);
  background: #fff;
}

.SearchForm .location-btn {
  border: none;
  transition: all 200ms ease-in-out;
}

.SearchForm .location-btn:hover {
  transform: scale(1.3);
}

.SearchForm .fa-location-dot {
  color: var(--primary-color);
}

@media (max-width: 567px) {
  .SearchForm {
    height: 100vh;
  }
  .SearchForm .search-btn {
    font-size: 12px;
    padding: 8px 0;
  }
  .SearchForm .form-group {
    margin: 0 !important;
    padding-bottom: 0 !important;
  }
}
