.SearchForm .search-btn {
  color: var(--primary-color);
  background: #fff;
}

.SearchForm .location-btn {
  border: none;
}

.SearchForm .fa-location-dot {
  color: var(--primary-color);
}

@media (max-width: 567px) {
  .SearchForm .search-btn {
    margin-top: 20px;
    max-width: 100px;
  }
  .SearchForm .location-btn {
    margin-top: 20px;
  }
  .SearchForm .search {
    padding-left: 0 !important;
    margin: 0 !important;
  }
  .SearchForm .form-group {
    margin: 0 !important;
    padding-bottom: 0 !important;
  }
}
