.SearchForm .search-btn {
  color: var(--primary-color);
  background: #fff;
}

.SearchForm .location-btn {
  border: none;
  transition: all 200ms ease-in-out;
}

.SearchForm .location-btn:hover {
  transform: scale(1.3);
}

.SearchForm .fa-location-dot {
  color: var(--primary-color);
}

@media (max-width: 567px) {
  .SearchForm .search-btn {
    margin-top: 20px;
    max-width: 100px;
  }
  .SearchForm .location-btn {
    margin-top: 20px;
  } 
  .SearchForm .form-group {
    margin: 0 !important;
  }
}
